#div1 {
  display: flex;
  justify-content: space-between;
}
body {
  display: flex;
}

.dullStar {
  opacity: 0.3;
}

.flowerImage {
  border-bottom: 1px solid lightgrey;
  /* border: 1px solid black; */

  width: 88%;
  height: 88%;

  transition: opacity 0.5s;
}

.flowerImage:hover {
  opacity: 0.5;
}

.flowerInfo {
  position: relative;
  text-align: center;
  top: 10px;
}

.title {
  font-family: Helvetica;
  font-weight: 700;
  color: #2a2a2ab0;
}

.price {
  top: 2px;
  position: relative;
}

.star {
    margin:1px;
    margin-top:5px
}